%% rotating log and errors
[
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 30485760},   % 30 MB max file size
         {error_logger_mf_maxfiles,200}           % 50 files max
        ]},
{ce,
  [
     {known_nodes, ['MR-M@192.168.8.161']}
  ]},
{client, [{snport,29000},
  {cnip,['192.168.8.209']},
  {cnport,29009},
  {indexport,29001},
  {packetsize,256},
  {blocklength,64},
  {alive,5000},
  {rack,"/root/rack"}
  ]},
{mr,
  [
  {start_mod,snode},
  {local_type,mr_snode_NT},
  {listen_port,30001},
  {client_type,erlang}, %%client_type include erlang and c,default is erlang
  {video_analyse_block_duration, 30},
  {network_card,1},
  {want_type,mr_master_NT},
  {sdfs_client_conf,[{cn_ip,"192.168.8.209"},
                    {cn_port,29009},
                    {index_port,29001},
                    {packet_size,256},
                    {snport,29000},
                    {block_size,256},
                    {timeout,5000},
                    {rack,"/root/rack"}
                    ]
  },
  {schedule_strategy, priority}, %% fifo, min_resource, max_resource, priority
	{cache_root, "/mnt/sda/mr_cache"}
 ]},
{sky_eye_agent,
  [       {os_interval,3},
          {node_interval,4},
          {matric_interval,1},
          {server_ip,"192.168.8.215"},
          {server_port,10002},
          {always_start_report,true},
          {app_mod,default_app_agent}
  ]}
].
