%% rotating log and errors
[
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},    % Log directory
         {error_logger_mf_maxbytes, 10245760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 10}         % 1 files max  
        ]},
{ce,
 [
  {known_nodes, []}
 ]},
{lager,
         [{handlers,
              [{lager_console_backend,info},
               {lager_file_backend,
                   [{"log/error.log",error,31457280,"",50},
                    {"log/console.log",info,31457280,"",50}]}]},
          {crash_log,"log/crash.log"},
          {crash_log_msg_size,65536},
          {crash_log_size,10485760},
          {crash_log_date,""},
          {crash_log_count,5},
          {error_logger_redirect,true}]},
{controller,
         [
             {default_zookeeper_server,
                [{"127.0.0.1", 2181, 30000, 10000}]},
             {zk_node_survival_time,180000},
             {zk_node_max_size,5000},
             {zk_controller_node_path,"/controllers"},
             {interval_time,600000},
             {poll_interval_block_complete_m,300},
             {poll_interval_file_cleanup_m,300},
             {rack_disk_move_range,15},
             {max_disk_used,50},
             {max_file_expired_d,0.3},  %%unit is day
             {recover_file_read_size, 10240},
             {redo_log_count, 2000},
             {redo_log_dir, "./"},
             {last_msg_apply_log_dir, "./"},
             {last_msg_apply_log_timer, 60000},
             {redo_log_compress_timer, 1}, %% min
             {redo_log_del_timer, 1}, %% day
             {snode_down_out_timer,180}, %% second
             {local_resources,[{controller,""}]},	%% ce local_resources
             {want_type,[controller,storage]},		%% ce want_resources_type
             {data_migration_time_interval,3600},
	     {time_utc,0}
        ]},
{index,
 [
  {listen_port,29001} 
 ]
},
{sky_eye_agent,
  [       {os_interval,3},
          {node_interval,4},
          {matric_interval,1},
          {server_ip,"192.168.8.215"},
          {server_port,10002},
          {always_start_report,true},
          {app_mod,default_app_agent}
  ]}
].
